name: Deploy feature branch to CA3S dev


on:
  workflow_dispatch:
    inputs:
      BranchNameUI:
        description: 'Ui branch name (Ex: feature/WCO-1234-feature-implementation)'
        default: 'main'
        required: true
        type: string
      ImagetagUI:
        description: 'Tag for the new UI image'
        default: 'internal'
        required: true
        type: string
      BranchNameAssetcatalog:
        description: 'Asset catalog branch name (Ex: feature/WCO-1234-feature-implementation)'
        default: 'main'
        required: true
        type: string
      ImagetagAssetcatalog:
        description: 'Tag for the new asset catalog image'
        default: 'internal'
        required: true
        type: string
      BranchNameIngress:
        description: 'Ingress branch name (Ex: feature/WCO-1234-feature-implementation)'
        default: 'main'
        required: true
        type: string
      ImagetagIngress:
        description: 'Tag for the new ingress image'
        default: 'internal'
        required: true
        type: string
      BranchNameEngine:
        description: 'Engine branch name (Ex: feature/WCO-1234-feature-implementation)'
        default: 'main'
        required: true
        type: string
      ImagetagEngine:
        description: 'Tag for the new  engine image'
        default: 'internal'
        required: true
        type: string
      TenantName:
        description: 'Tenant Name'
        default: 'falconz'
        required: true
        type: string

jobs:
  Build_docker_image_ui:
   
    runs-on: ubuntu-latest
    steps:
      # Checkout source code
      - name: Checkout source code
        if: ${{ inputs.BranchNameUI != 'main'}}
        run: echo "HI"
        
      - name: Checkout source code
        if: ${{ inputs.BranchNameUI == 'main'}}
        run: echo "Hello world"


  Build_docker_image_asset_catalog:
    runs-on: ubuntu-latest
    steps:

      # Checkout source code
      - name: Checkout source code
        if: ${{ inputs.BranchNameAssetcatalog != 'main'}}
        run: echo "HI"
        
      - name: Checkout source code
        if: ${{ inputs.BranchNameAssetcatalog == 'main'}}
        run: echo "Hello world"


  Build_docker_image_ingress:
    runs-on: ubuntu-latest
    steps:
       # Checkout source code
      - name: Checkout source code
        if: ${{ inputs.BranchNameIngress != 'main'}}
        run: echo "HI"
        
      - name: Checkout source code
        if: ${{ inputs.BranchNameIngress == 'main'}}
        run: echo "Hello world"


  Build_docker_image_engine:
    runs-on: ubuntu-latest
    steps:
      # Checkout source code
      - name: Checkout source code
        if: ${{ inputs.BranchNameEngine != 'main'}}
        run: echo "HI"
        
      - name: Checkout source code
        if: ${{ inputs.BranchNameEngine == 'main'}}
        run: echo "Hello world"


  Tenant_upgrade:
    runs-on: ubuntu-latest
    needs: [Build_docker_image_ui, Build_docker_image_asset_catalog, Build_docker_image_ingress, Build_docker_image_engine]
    steps:
      - name: Checking
        run: echo "Good to go for tenant deployment"
        
      - name: Validating the images
        run: | 
          result="(first==10)?second:third"
          ui=${{ inputs.BranchNameEngine == 'main'}}
          echo $ui
          if ${{ inputs.BranchNameEngine == 'main'}}; then
           uitag=${{ inputs.BranchNameEngine}}
          else
            uitag="santhiya"
          fi
          #uitag=(($ui==true?${{ inputs.BranchNameEngine}}:santhiya))
          echo $uitag
